<input type="hidden" name="joins[<?=$field?>][0]" value="0" class='default_value_to_unset_join'>
<?foreach($model->$field as $i=>$media) $groups[$media->type][] = $media?>
<?foreach(WildfireAdvertAdvanced::$ad_types as $group => $group_title):?>
  <?if(!$group) continue?>
  <div class='existing-files clearfix existing-ad-<?=$group?>' data-field="<?=$field?>">
    <h3><?=$group_title?></h3>
    <?foreach($groups[$group] as $media):?>
      <?=partial("_existing_media",array('media'=>$media, 'field'=>$field, 'extra_fields_view'=>$field_data->extra_fields_view, 'operation_actions' => $operation_actions))?>
    <?endforeach?>
  </div>
<?endforeach?>
